
// css 变量
$--color-primary: #2e7d32;

// Navbar
$navbar--background-color: $--color-primary;

// Sidebar
$sidebar--background-color-dark: #1f2d20;
$sidebar--color-text-dark: rgba(255, 255, 255, 0.68);

// Content
$content--background-color: #f3f6f2;
